body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body .pages {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body .pages section {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

body .pages .fader {
  background-color: rgba(25, 25, 25, 0.5);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body .pages .intro {
  background-image: url("../images/50k-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body .pages .introBlock {
  width: 50%;
  margin: auto;
}

body .pages .introBlock .whiteBar {
  margin: 0 0;
  height: 0.05em;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #ffffff));
}

body .pages .introBlock .name {
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0em;
  margin-top: 0em;
}

body .pages .introBlock .introText {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 0.3em;
}

body .pages .aboutMeBlock {
  width: 25%;
  height: 25%;
  position: relative;
  margin-top: 10%;
  margin-right: 10%;
  float: right;
}

body .pages .aboutMeBlock .aboutMeHeader {
  color: #191919;
  font-size: 3em;
  position: inherit;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

body .pages .aboutMeBlock .blackBar {
  margin: 0 0;
  height: 0.05em;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#191919), to(transparent));
}

body .pages .aboutMeBlock .aboutMeText {
  color: #191919;
  font-size: 1.5em;
  margin-top: 0.3em;
  position: inherit;
}

body .pages .whoami {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body .pages .projects {
  background-color: #b09ad7;
}

body .pages .planned {
  background-color: #191919;
}

body .pages .places {
  background-color: #333333;
}
