$primary: #6441A4;
$secondary: #7D5BBE;
$light: #b09ad7;
$dark: #191919;
$grey_very_dark: #333333;
$grey_dark: #808080;
$grey_light: #cccccc;
$offwhite: #efebf7;
$white: #ffffff;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section {
            display: flex;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
            align-items: center;
            justify-content: center;
        }

        .intro {
            background-image: url("../images/banner.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .whoami {
            background-image: url("../images/50k-1.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .projects {
            background-color: $light;
        }

        .planned {
            background-color: $dark;
        }

        .places {
            background-color: $grey_very_dark;
        }
    }
}

.fader {
    background-color: rgba(25, 25, 25,0.5);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    width: 50%;
    margin: auto;

    .whiteBar {
        margin: 0 0;
        height: 0.05em;
        border: none;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, $white));
    }
    

    .name {
        font-weight: bold;
        font-size: 5em;
        text-align: center;
        color: $white;
        margin-bottom: 0em;
        margin-top: 0em;
    }
    
    .introText {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        color: $white;
        margin-top: 0.3em;
    }
}

.container3 {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 0;

    .aboutMe {
    }
}