$primary: #6441A4;
$secondary: #7D5BBE;
$light: #b09ad7;
$dark: #191919;
$grey_very_dark: #333333;
$grey_dark: #808080;
$grey_light: #cccccc;
$offwhite: #efebf7;
$white: #ffffff;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        section {
            display: flex;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;
            align-items: center;
            justify-content: center;
        }

        .intro {
            background-image: url("../images/banner.jpg");
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .whoiam {
            background-color: $secondary;
        }

        .projects {
            background-color: $light;
        }

        .planned {
            background-color: $dark;
        }

        .places {
            background-color: $grey_very_dark;
        }
    }
}

.fader {
    background-color: rgba(25, 25, 25,0.5);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    width: 50%;
    margin: auto;
    
}

.name {
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    color: $white;
    margin-bottom: 0em;
}

.whiteBar {
    background-color: $white;
    height: 0.1em;
    width: 50%;
}

.introText {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: $white;
    margin-top: 0.5em;
}